.logo-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}
.nav-group{
    display: flex;
    align-items: center;
}
.nav-group li{
    padding-right: 1rem;
}
.register{
    background: yellow;
    padding: 10px 15px;
    border-radius: 20px;
    margin-right: 1rem;
}
.nav-group li a{
    font-size: 20px;
    color: #000;
}
.logo p{
    font-weight: 700;
    font-size: 30px;
}